/* Remove buttons from Discord UI */

/* Hide Nitro gift button */
button[aria-label="Send a gift"], div[aria-label="Send a gift"] {
    display: none;
}

/* Hide sticker picker button */
button[aria-label="Open sticker picker"], div[aria-label="Open sticker picker"] {
    display: none;
}

/* Hide annoying sticker popup window that appears when you type */
.channelTextArea-1FufC0>.container-1ZA19X {
    display: none;
}

/* Hide apps button, language dependent*/
button[aria-label="Apps"], div[aria-label="Apps"] {
    display: none;
}

/* Hide gif picker button, language dependent*/
button[aria-label="Open GIF picker"], div[aria-label="Open GIF picker"] {
    display: none;
}